# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_AUDITOR:
            - ROLE_ALLOWED_VIEW_ATTENDANCE
            - ROLE_ALLOWED_EDIT_ATTENDANCE
            - ROLE_ALLOWED_VIEW_CONTRACTOR
            - ROLE_ALLOWED_VIEW_DOCUMENT
            - ROLE_ALLOWED_VIEW_EQUIPMENT
            - ROLE_ALLOWED_VIEW_INVOICE
            - ROLE_ALLOWED_VIEW_LICENSE
        ROLE_WORKER:
            - ROLE_AUDITOR
            - ROLE_ALLOWED_EDIT_CONTRACTOR
            - ROLE_ALLOWED_EDIT_DOCUMENT
            - ROLE_ALLOWED_EDIT_EQUIPMENT
            - ROLE_ALLOWED_EDIT_INVOICE
            - ROLE_ALLOWED_EDIT_LICENSE
        ROLE_OWNER:   ROLE_WORKER

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: security.csrf.token_manager
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, role: IS_AUTHENTICATED_REMEMBERED }
