# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
    mmproject.attendance_voter:
        class: MMProjectBundle\Voter\AttendanceVoter
        arguments: ['@service_container']
        tags:
            - { name: security.voter }
        public: false
