{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('dist/login_styles.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}{% endblock %}
{% block top %}{% endblock %}

{% block body %}
    <div id="login_page">
        <p class="logo">M&M</p>
        <p class="small">Mini-Management Manager</p>
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}
